.App {
  text-align: center;
  margin-top: 75px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Entry {
  color: #139c41;
  display: block;
  box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
  text-align: center;
  margin: auto;
  width: 40%;
  border: 3px solid green;
  padding: 10px;
}

.TboxLab {
  width: auto;
}



@media screen and (max-width: 960px) {
  .CboxLab {
    background-color: #e2113f;
    color: #FFFFFF;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: table-cell;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: 500;
    height: 30px;
    line-height: 10px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 0px 6px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: middle;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-1 {
    background-color: #e2113f;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 30px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 0px 10px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: middle;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
}

.TboxVal {
  width: 100;
  max-width: 500px;
	/* overflow: hidden; */
	position: relative;
	margin: 0 auto;
	text-align: left;
}

/* CSS */
@media screen and (min-width: 961px) {
.button-1 {
  background-color: #e2113f;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: middle;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.CboxLab {
  background-color: #e2113f;
  color: #FFFFFF;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 20px;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
}
.button-1:hover,
.button-1:focus {
  background-color: #F082AC;
}

.inputBox {
  background-color: #ffffff;
  color: #000000;
  text-align: center;
}



#block_container {
  display: flex;
  justify-content: space-around;
  vertical-align: middle;
  width: 100%;
  /* padding-bottom: 25px; */
}

.sliders {
  width: 200px;
  padding : 10px 10px 10px 10px;
  background-color: #ce1b1e;
}
 .graph1 {
  background-color: #2613cc;
 }

 .graph2 {
  background-color: #14d214;
 }

 .graph3 {
  background-color: #a1ac02;
 }

 .graph4 {
  background-color: #68015a;
 }

 .graph5 {
  background-color: #6adced;
 }
 .graph6 {
  background-color: #f6ca83;
 }
 .graph7 {
  background-color: #0b0a0a;
 }
 .graph8 {
  background-color: #04570f;
 }


